/* header */

.header {
    background: url(../img/video-bg.min.gif) top center no-repeat;
    height: 694px;
}

.logo-pult {
   width: 150px;
   margin-left: 5px;
   padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto;
}

.nav a {
    color: #ececec;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-family: 'GraphikLCG-Regular', Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: -200px 0 0 50px;
    transition: all .3s;
}

.nav a:hover, .logo-container a:hover {
    color: #4cc7e9;
}

.logo-container {
    display: flex;
    justify-content: space-between;
}

.logo-container a {
    padding: 12px 16px;
    font-size: 14px;
    font-family: 'GraphikLCG-Regular', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #ececec;
}

.logo-container a.icon {
    display: block;
    font-size: 25px;
    margin: 25px 20px 0 0;
}

#logo {
    display: block;
 }

.nav.responsive a {
    margin: -77px 0 0 50px;
}

/* center */

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome__text {
    font-size: 39px;
    font-family: 'GraphikLCG-Light', Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin: 140px auto 24px auto;
    color: #fff;
}

.welcome__logo {
    align-self: center;
}

.header__bottom {
    display: flex;
    flex-direction: column;
    margin-top: 240px;
}

.header__bottom-text {
    font-family: 'GraphikLCG-Light', Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 17px;
    color: #fff;
    margin: auto;
}

.header__bottom-img {
    width: 13px;
    align-self: center;
    margin-top: 10px;
}



/* footer */



.footer{
    background: #cecbcb;
    padding: 100px;
    text-align: center;
}

.footer p {
    display: inline-block;
    font-size: 20px;
    position: relative;
    top: -23px;
    color: #1c2439;
}

.logo_bottom {
    width: 120px;
    display: inline-block;
    margin-left: 10px;
}

.links {
    margin-top: 30px;
}

.links a {
  color: #1c2439;
  text-decoration: none;  
  transition: all 0.2s;
  padding: 5px 10px;
  font-size: 20px;
}

.links a:first-of-type {
    border-right: 1px solid #1c2439;
}

.links a:hover {
    color: #4cc7e9;
}




@media screen and (max-width: 1366px) {
    .nav a {
        padding: 12px 0;
    }
    
}

@media screen and (max-width: 1020px) {
    .nav {
        flex-direction: column;
        max-width: 200px;
        margin: 0 0 0 15px;
        transition: all .3s;

    }

    .nav a {
        text-align: left;
        padding: 12px 16px;
        font-size: 14px;
        font-family: 'GraphikLCG-Regular', Arial, Helvetica, sans-serif;
        text-decoration: none;
        margin: 0 0 0 -200px;

    }

    .nav.responsive a {
        margin: 0;
    }

    .header {
        height: 450px;
        background-size: cover;
    }

    
    .welcome__text {
        font-size: 22px;
        margin: -310px auto 15px auto;
    }

    .welcome__logo {
        max-width: 190px;
    }
            
    .header__bottom {
        margin-top: 20px;
    }
    
    .header__bottom-text {
        font-size: 12px;
    }

}


@media screen and (max-width: 500px) {
    .logo-pult {
        width: 100px;
    }

    .logo-container a.icon {
        font-size: 18px;
        margin: 18px 15px 0 0;
    }

    .hidden {
        display: none;
    }


}













